flow.json
[
    {
        "id": "c27732f21b6c89b1",
        "type": "tab",
        "label": "Front-End",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8cb615daa6b6dc95",
        "type": "uibuilder",
        "z": "c27732f21b6c89b1",
        "name": "vue3-app",
        "topic": "",
        "url": "vue3-app",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "useSecurity": false,
        "sessionLength": 432000,
        "tokenAutoExtend": false,
        "reload": false,
        "sourceFolder": "dist",
        "x": 810,
        "y": 240,
        "wires": [
            [
                "f19aac0944e0d2d9"
            ],
            []
        ]
    },
    {
        "id": "122c418ba66127f9",
        "type": "inject",
        "z": "c27732f21b6c89b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "greeting",
        "payload": "hello from node-red",
        "payloadType": "str",
        "x": 500,
        "y": 240,
        "wires": [
            [
                "8cb615daa6b6dc95"
            ]
        ]
    },
    {
        "id": "f19aac0944e0d2d9",
        "type": "debug",
        "z": "c27732f21b6c89b1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 240,
        "wires": []
    }
]